.CardList{
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
background-color: antiquewhite;
padding: 20px;
}

.CardList .card-container {
  display: inline-block;
  width: 13.5%;
}

.CardList .pokemon-img{
  width: 100%;
}

.pokemon-img {
  border-radius: 8px;
  min-height: 225px;
  background-image: url('https://64.media.tumblr.com/00ec803404f6e9d6583f92d8870b5fb8/tumblr_p7k8f3fMWS1wvbydeo1_1280.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
.card-container {
  position: relative;
  margin: 5px;
}

.card-container {
  background-color: rgb(87, 26, 26);
  border-radius: 16px;
  width:  240px;
  padding: 10px;
}

.name-container {
  display: flex;
  justify-content:center;
}
.pokemon-name {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: antiquewhite;
    text-transform: capitalize;
    text-decoration: none;
    margin: 5px;
  }

    
  /* Types */

  .types-container{
    display: flex;
    justify-content: center;
    
  }
  .pokemon-types {
    text-transform: capitalize;
  }

  .pokemon-types > * {
    background-color: rgba(64, 20, 20, 0.742);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    outline: 2px solid black;
    text-align: center;
  }
  

  .type-bug {
    color: #aedf78;
  }
  
  .type-water {
    color: #43ccff;
  }
  
  .type-grass {
    color: #00ca91;
  }
  
  .type-fire {
    color: #e95c4d;
  }
  
  .type-normal {
    color: #a5a5a5;
  }
  
  .type-poison {
    color: #611380;
  }
  
  .type-electric {
    color: #f9be00;
  }
  .type-ground {
    color: #bfac21;

  }
  
  .type-fairy {
    color: #f87ea7;
  }
  
  .type-fighting {
    color: #e81319;
  }

  .type-psychic {
    color: #8a0532;
  }
  
  .type-ghost {
    color: #8e55a4;
  }

  .type-rock {
    color: #776a3e;
  }

  .type-ice {
    color: #66d1e5;
  }

  .type-flying {
    color: #5eb9b2;
  }

  .type-dark {
    color: #2d221c;
  }
  
  .type-dragon {
    color: #29036a;
  }
  
  .type-steel {
    color: #7b8e8a;
  }

  .type-unknown {
    color: #454545;
  }
  
  .type-shadow {
    color: #4f4f4f;
  }


@media (min-width: 320px) {

  .CardList{
    padding: 10px;
    }
  .CardList .card-container {
    display: inline-block;
    width: 37.5%;
  }
  .pokemon-img {
    border-radius: 8px;
    min-height: 125px;
    background-color: white;
    width: 100%;
  }

  .CardList .pokemon-img{
    width: 100%;
  }
  
  .pokemon-name {
    text-align: center;
    font-size: 15px;
    color: antiquewhite;
  }
    
  /* Types */

  .pokemon-types {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
  }

  .pokemon-types > * {
    font-size: 12px;
  }

}

@media (min-width: 768px) {

  .CardList{
    padding: 10px;
    }
  .CardList .card-container {
    display: inline-block;
    width: 18.5%;
  }
  .pokemon-img {
    border-radius: 8px;
    min-height: 125px;
    background-color: white;
    width: 100%;
  }
  
  .pokemon-name {
    text-align: center;
    font-size: 15px;
    color: antiquewhite;
  }

}

@media (min-width: 1024px) {
  .CardList .card-container {
    display: inline-block;
    width: 15%;
  }
  .pokemon-img {
    border-radius: 8px;
    min-height: 125px;
    background-color: white;
    width: 100%;
  }
  
  .pokemon-name {
    text-align: center;
    font-size: 15px;
    color: antiquewhite;
  }
  

}

@media (min-width: 1440px) {
  .CardList .card-container {
    display: inline-block;
    width: 13.2%;
  }
  .pokemon-img {
    border-radius: 8px;
    min-height: 125px;
    background-color: white;
    width: 100%;
  }
  
  .pokemon-name {
    text-align: center;
    font-size: 15px;
    color: antiquewhite;
  }
  
}

@media (min-width: 1440px) {
  .CardList .card-container {
    display: inline-block;
    width: 13.2%;
  }
  .pokemon-img {
    border-radius: 8px;
    min-height: 125px;
    background-color: white;
    width: 100%;
  }
  
  .pokemon-name {
    text-align: center;
    font-size: 15px;
    color: antiquewhite;
  }
  
}


@media (min-width: 2460px) {
  .CardList .card-container {
    display: inline-block;
    width: 16.01%;
  }
  .pokemon-img {
    border-radius: 8px;
    min-height: 125px;
    background-color: white;
    width: 100%;
  }
  
  .pokemon-name {
    text-align: center;
    font-size: 30px;
    color: antiquewhite;
  }
  

  }
