body {
  margin: 0;
  padding: 0;
}

/* Loading */

.loader-container {
  display: flex;
  justify-content: center;
  background-color: rgb(150, 148, 148);
  animation: loading-skeleton infinite 1.5s;
}

.loader-animation {
  width: 100px;
  position: absolute;
  top: 50%;
  aspect-ratio: 1;
  display:grid;
  -webkit-mask: conic-gradient(from 15deg,#0000,#000);
  animation: l26 1s infinite steps(12);
}
.loader-animation,
.loader-animation:before,
.loader-animation:after{
  background:
    radial-gradient(closest-side at 50% 12.5%,
     #0184ff 96%,#0000) 50% 0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%,
     #0184ff 96%,#0000) 0 50%/80% 20% repeat-x;
}
.loader-animation:before,
.loader-animation:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.loader-animation:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {transform:rotate(1turn)}
}

@keyframes loading-skeleton {
  0%, 100% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}
  /* Resposive */
  
  @media (min-width: 320px) {
    .CardList .card-container {
      display: inline-block;
      width: 40.5%;
    }
    .pokemon-img {
      border-radius: 8px;
      min-height: 125px;
      background-color: white;
      width: 100%;
    }
  
    .CardList .pokemon-img{
      width: 100%;
    }
    
    .pokemon-name {
      text-align: center;
      font-size: 15px;
      color: antiquewhite;
    }
    
    .pokemon-description {
      text-align: center;
      font-size: 8px;
      color: antiquewhite;
    }
  }
  
  @media (min-width: 768px) {
    .CardList .card-container {
      display: inline-block;
      width: 21.5%;
    }
    .pokemon-img {
      border-radius: 8px;
      min-height: 125px;
      background-color: white;
      width: 100%;
    }
    
    .pokemon-name {
      text-align: center;
      font-size: 15px;
      color: antiquewhite;
    }
    
    .pokemon-description {
      text-align: center;
      font-size: 8px;
      color: antiquewhite;
    }
  }
  
  @media (min-width: 1024px) {
    .CardList .card-container {
      display: inline-block;
      width: 15%;
    }
    .pokemon-img {
      border-radius: 8px;
      min-height: 125px;
      background-color: white;
      width: 100%;
    }
    
    .pokemon-name {
      text-align: center;
      font-size: 15px;
      color: antiquewhite;
    }
    
    .pokemon-description {
      text-align: center;
      font-size: 8px;
      color: antiquewhite;
    }
  }
  
  @media (min-width: 1440px) {
    .CardList .card-container {
      display: inline-block;
      width: 13.2%;
    }
    .pokemon-img {
      border-radius: 8px;
      min-height: 125px;
      background-color: white;
      width: 100%;
    }
    
    .pokemon-name {
      text-align: center;
      font-size: 15px;
      color: antiquewhite;
    }
    
    .pokemon-description {
      text-align: center;
      font-size: 12px;
      color: antiquewhite;
    }
  }
  
  @media (min-width: 1440px) {
    .CardList .card-container {
      display: inline-block;
      width: 13.2%;
    }
    .pokemon-img {
      border-radius: 8px;
      min-height: 125px;
      background-color: white;
      width: 100%;
    }
    
    .pokemon-name {
      text-align: center;
      font-size: 15px;
      color: antiquewhite;
    }
    
    .pokemon-description {
      text-align: center;
      font-size: 10px;
      color: antiquewhite;
    }
  }
  
  
  @media (min-width: 2460px) {
    .CardList .card-container {
      display: inline-block;
      width: 16.01%;
    }
    .pokemon-img {
      border-radius: 8px;
      min-height: 125px;
      background-color: white;
      width: 100%;
    }
    
    .pokemon-name {
      text-align: center;
      font-size: 30px;
      color: antiquewhite;
    }
    
    .pokemon-description {
      text-align: center;
      font-size: 18px;
      color: antiquewhite;
    }
  }