.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(106,30,20);
  background: linear-gradient(360deg, rgba(106,30,20,1) 2%, rgba(105,21,21,1) 52%, rgba(145,16,16,1) 100%);
  width: 100%;
  height: 100px;
}

.header-title{
  text-align: center;
  letter-spacing: 5px;
  color: yellow;
  text-shadow: 1px 0 orangered, 0 1px orangered, 1px 0 orangered, 0 -1px orangered, -2px 2px 0 orangered, 2px 2px 0 orangered, 1px 1px orangered, 2px 2px orangered, 3px 3px orangered, 4px 4px orangered, 5px 5px orangered, 6px 6px orangered, 7px 7px orangered, 8px 8px orangered, 9px 9px orangered;
}